// =====================================================
// ------------- Siegmeyer II Global Styles ------------
// =====================================================
// @author Thomas Bredin-Grey <tbredin@gmail.com>
// Siegmeyer II: https://github.com/tbredin/Siegmeyer2
// =====================================================


html, body {
    margin: 0;
    background-color: #fff;
}

@if $debug-breakpoints == true and $debug-allow == true {
    @include debug-breakpoints;
}

img {
    -ms-interpolation-mode: bicubic;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.25s linear;
}

::placeholder {
    color: site-color(rose);
    transition: color 0.25s ease;
}

:hover::placeholder {
    color: lighten(site-color(rose), 10%);
}

:focus::placeholder {
    color: site-color(rose);
}

nav li {
    float: left;
    @include rem(margin-right, 1rem);
}

.container {
    @include set-container;
    @extend %typeset;
    clear: both;
}
