// =====================================================
// ----------- Siegmeyer II Basic typography -----------
// =====================================================
// @author Thomas Bredin-Grey <tbredin@gmail.com>
// Siegmeyer II: https://github.com/tbredin/Siegmeyer2
// =====================================================


// Setting root sizes and base styles.
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    @include rootsize;
}

// Site-wide base styles.
body {
    @include rem(line-height, 2rem);
    font-family: font-family-of($body-type);
    font-style: normal;
    font-weight: regular-of($body-type);
}

%typeset {
    position: relative;

    @if ($debug-baseline == true and $debug-allow == true) {
        &:after {
            // Demo baseline grid styles
            content: "";
            display: block;
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom,rgba(50,50,50, 0.2)0,rgba(50,50,50, 0.2)1px,rgba(255, 255, 255, 0.3)1px,rgba(255, 255, 255, 0)2px, rgba(50,50,50, 0.0)1rem, rgba(50,50,50, 0.1)1rem,rgba(50,50,50, 0.1)1.05rem,rgba(255, 255, 255, 0.1)1.05rem,rgba(255, 255, 255, 0)1.125rem);
            @include rem(background-size, 100% 2rem);
            z-index: 1000;
        }
    }
}

// Links.
%link-style {
    @include text-link(site-color(blue));
}

// Nice underlines for text links.
a {
    @extend %link-style;
}

// Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
p, li, figcaption {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-family: font-family-of($body-type);
    text-align: left;
    color: site-color(steel);
    -webkit-font-smoothing: antialiased;

    &.has-emphasis {
        color: site-color(purple);
    }
}

p, figcaption {
    @include type($body-type, px-to-rems(16px), 2, 0, 2);

    @include breakpoint-layout(break-2) {
        max-width: 46em;
    }
}

li {
    @include type($body-type, px-to-rems(16px), 2, 0, 1);

    &:last-child {
        @include type($body-type, px-to-rems(16px), 2, 0, 2);
    }
}

figcaption {
    color: site-color(steel_light);
    @include rem(font-size, 1.1rem);
}

figure img {
    width: 100%;
}

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: site-color(steel);
    -webkit-font-smoothing: antialiased;
    font-family: font-family-of($display-type);

    a {
        @include text-link(site-color(blue));
        @include type-match;
        font-weight: normal;
    }

    .content & {
        clear: both;
    }
}

// Heading level 1.
h1, .h1-style {
    font-weight: bold-of($display-type);

    @include type($display-type, px-to-rems(32px), 3, 0, 4);

    // tablet size for h1, maybe?
    // @include breakpoint-layout(break-1) {
    //     @include type($display-type, px-to-rems(64px * 3/5), 3, 0, 2);
    // }

    @include breakpoint-layout(break-2) {
        max-width: 20em; // measure accurate to designs

        @include type($display-type, px-to-rems(64px * 3/4), 4, 0, 2);
    }
}

// Heading level 2.
h2, .h2-style {
    @include type($display-type, px-to-rems(28px), 3, 0, 2);

    // h2 following any other main type elements should have 4 lines above
    h3 + &,
    h4 + &,
    h5 + &,
    h6 + &,
    p + &,
    ul + &,
    ol + &,
    blockquote+ & {
        @include type($display-type, px-to-rems(28px), 3, 4, 2);
    }
}

// Heading level 3.
h3, .h3-style {
    font-weight: bold-of($display-type);

    @include type($display-type, px-to-rems(18px), 2, 0, 2);

    // h3 following any other main type elements should have 1 line above
    h4 + &,
    h5 + &,
    h6 + &,
    p + &,
    ul + &,
    ol + &,
    blockquote+ & {
        @include type($display-type, px-to-rems(18px), 2, 1, 2);
    }
}

// Heading level 4, 5, 6.
h4, .h4-style,
h5, .h5-style,
h6, .h6-style {
    font-weight: bold-of($display-type);

    @include type($display-type, px-to-rems(16px), 2, 0, 1);

    p + &,
    ul + &,
    ol + &,
    blockquote+ & {
        @include type($display-type, px-to-rems(16px), 2, 1, 1);
    }
}

h5, h6 {
    // @include disallow("h5 or h6");
}

ul {
    list-style: disc outside;

    li {
        @include rem(padding-left, 0.25rem);
    }
}

ol {
    @include rem(padding-left, 1.25rem)
}

li {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    @include rem(margin-left, 1.5rem);
}

// Bold.
b, strong {
    font-weight: bold-of($body-type);
}

// Italic.
em, i {
    font-style: italic-of($body-type);
}

// Caption and inline small text.
small, .caption {
    font-family: font-family-of($body-type);
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: regular-of($body-type);
    letter-spacing: -0.035em;
}

small {
    @include rem(line-height, 1rem);
}

.caption {
    color: site-color(steel);
}

// Quotes.
blockquote {
    clear: both;
    @include clearfix;

    p {
        font-family: font-family-of($display-type);
        color: site-color(steel);
        margin-bottom: 0;
        @include type($display-type, 1.5rem, 2, 2, 3);
        position: relative;
        overflow: visible;
        @include rem(text-indent, 2.5rem !important);

        @include breakpoint-layout(break-1) {
            @include rem(text-indent, 3rem !important);
        }
    }
}

cite {
    font-family: font-family-of($body-type);
    font-weight: normal;
    @include type($body-type, 1.125rem, 2, 0, 0);
    display: block;
    @include rem(padding-left, 3.25rem);
}

// Horizontal rule.
hr {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,#fff 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 50%;
    border: 0;
    @include rem(padding-top, 1rem);
    @include rem(padding-bottom, 1rem);
    margin: 0;
    height: 0;
}

// Code block.
code, pre {
    background-color: site-color(steel);
    color: #fff;
    font-family: font-family-of($monospace-type);
    @include rem(line-height, 1rem);
}

pre {
    @include rem(border-radius, 0.3rem);
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    @include rem(margin-bottom, 2rem);
    @include rem(padding, 1rem);
}

code {
    // @include fontsize(12);
    @include rem(line-height, 1rem);
}

// Letter space those capitals people, Jan Tschichold would be proud.
.upper {
    text-transform: uppercase;
    @include rem(letter-spacing, 0.1rem);
}

// Real small caps.
.small-caps {
    font-feature-settings: 'smcp' 1, 'kern' 1;
    @include rem(letter-spacing, 0.1rem);
}

// Consistent height numbers with OpenType.
.lining-numerals {
    font-feature-settings: 'lnum' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
    font-feature-settings: 'onum' 1, 'kern' 1;
}

