<div class="clear">
    <div class="span-xs-full span-md-3 lock-md-right">
        <h4>Span 3, lock right (medium)</h4>
        <p>Officia consequatur quaerat atque alias optio <a href="#">quae illum</a></p>
    </div>

    <aside class="span-xs-full span-md-3">
        <h4>Span 3 (medium)</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, repellendus unde labore rerum, vitae sequi nemo necessitatibus tempora magni eligendi officia quae illum voluptatum dolorem quidem nam ducimus magnam a!</p>
    </aside>

    <div class="span-xs-full span-md-6">
        <h2>Span 6 (medium)</h2>

        <p>Officia consequatur quaerat atque alias optio amet earum, tempore modi!</p>

        <h4>Heading 4</h4>
        <p>Lorem ipsum dolor sit amet. Illum voluptates, porro cupiditate accusantium.</p>

        <h2>Heading 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, repellendus unde labore rerum, vitae sequi nemo necessitatibus tempora magni eligendi officia quae illum voluptatum dolorem quidem nam ducimus magnam a!</p>
    </div>

    <div class="span-xs-full span-md-6 push-md-3">
        <h4>Span 6, push 3 (medium)</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nisi voluptatem vel dolorum facilis, assumenda, quaerat repellendus ratione explicabo nemo dignissimos saepe temporibus natus, autem laudantium perferendis illum, omnis qui.</p>
    </div>

    <div class="nest-md-6 push-md-3 stack-xs-on stack-md-off">
        <div class="span-xs-full span-md-6">
            <h2>Span 6, nested (medium)</h2>
            <h3>Heading 3</h3>
            <ul>
                <li>Officia error quo et illum!</li>
                <li>Ipsum saepe pariatur atque vel quasi. Nesciunt saepe, a nihil earum vel.</li>
                <li>Totam expedita, eius, deleniti repudiandae qui beatae dicta veritatis nobis animi asperiores voluptatum!</li>
            </ul>

            <h2>Heading 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus neque, quam, eos omnis aliquam libero. Alias laborum dolore vitae sunt ipsam aliquam, saepe quam suscipit id, beatae dolorum deserunt necessitatibus.</p>
        </div>

        <div class="span-xs-full pull-md-3 span-md-3 stack-xs-start">
            <h4>Span 3, pull 3, nested (medium)</h4>
            <p>Fuga libero voluptatum, ex soluta. Quo harum, magni eaque rerum labore incidunt.</p>
            <p>Dicta tempora, quod sapiente saepe reprehenderit repellat.</p>
        </div>
    </div>
</div>
