<!doctype html>
<!--[if lte IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 no-mediaqueries"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie10 lt-ie9 no-mediaqueries"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gte IE 9]>      <html class="no-js"> <![endif]-->
<!--[if !IE]> -->       <html class="no-js"><!-- <![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Siegmeyer II</title>
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" href="images/favicons/favicon.ico"/>

        <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png" />

        <link rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">

        <meta name="msapplication-config" content="ieconfig.xml" />

        <link rel="stylesheet" href="styles/screen.css">
        <link rel="stylesheet" href="styles/layout.css">

        <script src="scripts/vendor/modernizr.js"></script>
    </head>